*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    text-shadow: #000 1px 1px;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("assets/bg.webp");
    background-size: cover;
    background-position: center;
}